:root {
  --font-main: Inter-Variable;
  --font-accent: PressStart2P;
  --font-weight-text: 400;
  --font-weight-title: 700;

  --bg: #ffffff;
  --fg: #000000;
  --stroke: #000000;
  --shadow: #000000;

  --contour-color: #000000;
  --animation-fill-color: #ff0000;
  --label-stroke-color: #ffffff;

  --section-w: clamp(320px, 80vw, 700px);
  --gap: 50px;

  --page-bg:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
}